[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
pillow = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
psycopg2-binary = "*"
djangorestframework-simplejwt = "*"
djoser = "*"
social-auth-app-django = "*"
uwsgi = "*"
django-cookies-samesite = "*"

[dev-packages]

[requires]
python_version = "3.8"
