.dialogContentBg{
    background-color: #fff;
    color: #000 !important;
}
.dialogContentContent{
    width: 261px;
}
    .title{
        color: #242424;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .btn, .innactivBtn{
        border-color: transparent !important;
        color: #1B7049 !important;
        font-size: 16px !important;
        padding-bottom: 4px !important;
        border-bottom: 2px solid #1B7049 !important;
        margin-right: 20px !important;
        font-weight: 700 !important;
        border-radius: 0px !important;
    }
    .btnSucces{
        background-color: #327C17 !important;
        border-radius: 4px !important;
        color: #fff !important;
    }
    .innactivBtn{
        border: none !important;
        color: #85A190 !important;
    }
    .field{
        box-sizing: border-box;
        outline: none;
        color: #242424;
        width: 100%;
        display: block;
        background-color: transparent;
        border: 1px solid #C7C7C7;
        font-size: 16px;
        padding: 8px 10px;
        border-radius: 4px;
        margin-bottom: 12px;
    }
    .fieldError{
        border-color: #6b1f1f !important;
    }
    .textError{
        position: absolute; 
        color: #6b1f1f;
        font-size: 12px;
        top: 40px;
    }