.wrapper{
    width: calc(100% - 220px);
    height: 100%;
    margin-top: 50px;
}
.title{
    padding: 10px;
    width: calc(100% - 220px);
    position: fixed;
    top:0px;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    color:#fff;
    background-color: #198c57;
}
    .timeWrapper{
        margin-top: 46px;
        display: grid;
        grid-template-columns: 0.2fr 1fr;
        grid-template-rows: 240px;
        align-items: center;
        max-width: 600px;
        margin: auto;
    }
        

.theSmallest, .isSmall , .isSmaller , .isCurrent{
    transition: .3s;
    margin: 10px 0px;
}
.theSmallest{
    font-size: 17px;
    color:rgba(0, 0, 0, 0.1);
}
.isSmall{
    font-size: 19px;
    color:rgba(0, 0, 0, 0.3);
}
.isSmaller{
    font-size: 20px;
    color:rgba(0, 0, 0, 0.6);
}
.isCurrent{
    font-size: 21px;
}
.empty{
    display: none;
}
.scaleLine{
    height: 100%;
    width: 1px;
    background-color: black;
}