.form{
    margin:0px 40px;
    margin-top: 40px;
} 
    .fieldWrapper{
        display: flex;
        justify-content: space-between;
    }
        .fieldContainer{
            position: relative;
            margin-right: 10px;
            width: 100%;
        }
        .fieldWrapper .fieldContainer:last-child{
            margin-right: 0px !important;
        }

    .title{
        color: #242424;
        font-weight: 500;
        font-size: 26px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .formDescription{
        color:#358F15;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 10px;
    }
        .btn, .innactivBtn{
            border-color: transparent !important;
            color: #1B7049 !important;
            font-size: 16px !important;
            padding-bottom: 4px !important;
            border-bottom: 2px solid #1B7049 !important;
            margin-right: 20px !important;
            font-weight: 700 !important;
            border-radius: 0px !important;
        }
        .btnSucces{
            margin-top: 20px !important;
            background-color: #327C17 !important;
            border-radius: 4px !important;
            color: #fff !important;
        }
        .innactivBtn{
            border: none !important;
            color: #85A190 !important;
        }
        .field{
            box-sizing: border-box;
            outline: none;
            color: #242424;
            width: 100%;
            flex: 1 1 100%;
            display: block;
            background-color: transparent;
            border: 1px solid #C7C7C7;
            font-size: 16px;
            padding: 8px 10px;
            border-radius: 4px;
            margin-bottom: 12px;
        }
        .fieldError{
            border-color: #6b1f1f !important;
        }
        .textError{
            position: absolute; 
            color: #6b1f1f;
            font-size: 12px;
            top: 40px;
        }
    .dialogContentBg{
        background-color: #fff;
        color: #000 !important;
    }

    .codeWrapper{
        display: flex;
        align-items: center;
    }
        .btnCode{
            background-color: #327C17 !important;
            border-radius: 4px !important;
            color: #fff !important;
        }
        .code{
            margin-left: 10px;
            color:#358F15;
            font-size: 16px;
            line-height: 20px;
        }
        .codeTextArea{
            box-sizing: border-box;
            max-width: 221px;
            min-width: 221px;
            min-height: 45px;
            max-height: 45px;
            border:none;
            resize: none;
            outline: none;
            background-color: transparent;
        }

@media screen and (max-width: 480px) {
    .fieldWrapper{
        flex-wrap: wrap;
    }
    .fieldContainer{
        margin-right: 0px !important;
    }
    .codeWrapper{
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px;
    }
    .code{
        margin-top: 10px;
        margin-left: 0px;
    }
}