.form{
    padding: 0px 40px;
} 
    .fieldWrapper{
        display: flex;
        justify-content: space-between;
    }

    .field{
        box-sizing: border-box;
        outline: none;
        color: #000;
        width: 100%;
        display: block;
        background-color: transparent;
        border: 2px solid #fdbf72;
        font-size: 16px;
        padding: 8px;
        border-radius: 8px;
        margin: 10px 0px;
    }
    .fieldError{
        border-color: #6b1f1f !important;
    }
    .textError{
        position: absolute; 
        color: #6b1f1f;
        font-size: 12px;
        top: -5px;
    }